/* Body Background */
body {
    background-color: #f4f6f9;
}

/* Dashboard colored cards */
.users-card {
    background-color: #0d6efd !important;
    color: white !important;
}

.medicines-card {
    background-color: #198754 !important;
    color: white !important;
}

.lowstock-card {
    background-color: #dc3545 !important;
    color: white !important;
}

    /* Make icons white */
    .users-card i,
    .medicines-card i,
    .lowstock-card i {
        color: white !important;
    }
    /* Hover Effect */
    .users-card:hover,
    .medicines-card:hover,
    .lowstock-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 12px 20px rgba(0,0,0,0.2);
        transition: 0.3s ease;
    }
.table tbody tr:hover {
    background-color: #f0f6ff;
    transition: 0.2s ease;
}