@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}

@using (Html.BeginForm("Login", "Users", FormMethod.Post))
{
    <div>
        <label>Email</label><br />
        <input type="email" name="email" required class="form-control" />
    </div>

    <br />

    <div>
        <label>Password</label><br />
        <input type="password" name="password" required class="form-control" />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">
        Login
    </button>
}