@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<h4>Welcome, @ViewBag.UserName 👋</h4>

<hr />

<div class="row">

    <div class="col-md-4">
        <div class="card bg-primary text-white mb-3">
            <div class="card-body">
                <h5>Total Users</h5>
                <h3>@ViewBag.TotalUsers</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-success text-white mb-3">
            <div class="card-body">
                <h5>Total Medicines</h5>
                <h3>@ViewBag.TotalMedicines</h3>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-danger text-white mb-3">
            <div class="card-body">
                <h5>Low Stock</h5>
                <h3>@ViewBag.LowStock</h3>
            </div>
        </div>
    </div>

</div>
